$footer-background: #4682b4;
$main-background: rgb(255, 255, 246);
$main-font: 'Work Sans', sans-serif;
$search-btn-color: rgba(70, 130, 180, 1);
$proposal-btn-color: #9fba93;
$faq-color: #ecf0f1;

.current {
  color: green;
}

html {
	height: 100%;
}

body {
	font-family: $main-font;
	height: 100%;
	background-color: $main-background;
	display: flex;
	flex-direction: column;
	margin: 0px;
	.header, .footer {
		flex-shrink: 0;
	}
}


h1, h2, h3, h4, h5 {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 1.3em;
}

h2 {
	font-size: 1em;
}

a[href^='mailto:']::before {
	content: '📧 ';
}

a[href^='tel:']::before {
	content: '📞 ';
}

.btn {
	display: block;
	border: none;
	color: white;
	padding: 0.6rem 1rem;
	background-color: $search-btn-color
}

.search {
	background-color: $search-btn-color
}

.proposal {
	background-color: $proposal-btn-color;
}

.footer {
	background: $footer-background;
	color: white;
	padding: 0.3rem 1rem;
	text-align: center;
	p {
		margin: 0;
	}
}

.header {
	display: flex;
	justify-content: center;
	margin-top: 0;
	flex-direction: column;
	padding: 2rem 0;
	h1 {
		text-decoration: none;
		font-size: 250%;
		background-color: rgba(255, 255, 255, 0.5);
		padding: 1rem 1rem;
	}
	p {
		background-color: rgba(255, 255, 255, 0.5);
		padding: 1rem 1rem;
	}
	.logo {
		display: flex;
		justify-content: center;
	}

	.title {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 100%;
		position: relative;
		margin-top: 0;
		background: url("/assets/images/header.png") no-repeat center center fixed;
		.btn-div {
			display: flex;
			flex-direction: row;
		}
	}

	.logo img {
		margin: 1rem;
		width: 8rem;
	}

	.btn {
		margin: 0.6rem;
	}	
}

.content {
 	padding: 1rem calc(max(5px, -25em + 50vw));
 	.btn {
 		text-decoration: none;
		margin: 0.6rem auto;
		width: max-content;
		padding: 0.8rem;
	}
	img {
		display: block;
		margin: 0px auto;
		width: 10rem;
	}
}

.faq {
	background-color: $faq-color;
}
